<div class="container">

<h1>Dashboard</h1>
<% if active_problem? %>
	<h2><%= link_to @most_recent_problem.title, problem_url(@most_recent_problem) %></h2>
	<p><%= @most_recent_problem.text %></p>
<% else %>
	<p>No current problem</p>
<% end %>
<p><%= link_to 'Create a new problem', new_problem_url %></p>
</div>
