<div class="container">

<h1>Dashboard</h1>
<% if active_problem? %>
	<h2><%= most_recent_problem.title %></h2>
	<p><%= most_recent_problem.text %></p>
<% else %>
	No current problem
<% end %>
<br>
<%= link_to 'Create a new problem', new_problem_url %>
</div>
