<div class="container">
<h1>Frequently asked questions</h1><br><br>
  <div class="row">
    <div class="col-md-12 centered">

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        This section contains a wealth of information about <strong>Robin</strong> and how to use it. If you cannot find an answer to your question here, please <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">contact us.</a>
    </div>

    <br />

    <div class="panel-group" id="accordion">
<!--         <div><h2>General questions</h2></div>
 -->        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is Robin?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Robin is a way of challenging colleagues or friends to solve interesting challenges which each of the people in the group have come up with.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">How does Robin work?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    One player, called the Question Master (QM) sets the challenge and an expiry date. The rest of the players (the solvers) then submit their solutions for the judgement of the QM. When the challenge expires, the QM marks the solutions and declares a winner.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Who is the Question Master??</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                        You! At least, you will be if you win the previous challenge. The previous QM decides who has submitted the best solution to their challenge and that person becomes the next QM and has the opportunity to set another challenge. This means that your company can have challenges specific to what your employees need to know.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">What do these points mean?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    When you submit a solution, Robin will ask you to rate the challenge. This gets translated into points for the QM. When the time is over or every other user has answered the challenge, the QM can to score each solution. These are to create a competitive environment for everyone to use. Remember to be honest! It's all for a bit of friendly competition!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How do I join?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    It's simple! Just click the "Sign Up" button at the top of the page to create an account and you're good to go. Click "Current challenge" to see the current challenge and submit a solution. "Leaderboard" shows you everyone's points so you can compare yourself to everyone else. "Archive" shows you every previous challenge and the solutions. You can still have a go at the challenges, even if it wont get you any points.
                </div>
            </div>
        </div>
  </div>
</div>
</div>
