<div class="jumbotron">
  <h1>This is Robin!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign up</a><a class='btn btn-link' href="/login"> or Login</a></p>
</div>