<h1>All problems</h1>
<% if @problems.size == 0 %>
	<p> No problems found </p>
<% else %>
	<table>
		<tr>
			<th>Title</th>
			<th>Set by</th>
			<th>Date</th>
		</tr>
		<% @problems.each do |problem| %>
			<tr>
				<td><%= link_to problem.title, problem %></td>
				<!--
				Had to change problem.author to problem.user, because that's the name
				it's determined to be in problem.rb, but it's probably possible to
				change that
				-->
				<td><%= link_to problem.user.name, problem.user %></td>
				<td><%= problem.created_at %></td>
			</tr>
		<% end %>
	</table>
<% end %>
