<div class="container">
<h1> Editing/Marking problem </h1>

<% if @problem.expiry < DateTime.now %>

	<%= form_for @problem, html: {method: :patch} do |f| %>
		<% @solutions.each do |s| %>
			<div class="panel panel-default">
				<div class="panel-body">
					<pre><code><%= s.text.html_safe %></code></pre>
				</div>
				<div class="panel-footer">
					Rating:
					<input class="rating-slider" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="60" data-slider-tooltip="hide" name="s_<%= s.id %>" />
				</div>
			</div>
		<% end %>
		<%= f.submit "Rate 'em!", class: "btn btn-primary" %>
	<% end %>

<% end %>
</div>