<div class="container">
<h1> Editing/Marking problem </h1>

<% if @problem.expiry < DateTime.now %>

	<%= form_for @problem, html: {method: :patch} do |f| %>
		<% @solutions.each do |s| %>
		<div class="radio">
			<label>
				<input name="winning_solution_id" type="radio" value="<%= s.id %>">
				<%= s.text %>
			</label>
		</div>
		<% end %>
		<%= f.submit "Submit winner" %>
	<% end %>

<% end %>
</div>
