<div class="container">
	<table class="table">
		<tr><th>User</th><th>Points</th></tr>
		<% @users.each do |user| %>
			<tr><td><%= link_to user.name, user_url(user) %></td><td><%=user.score%></td></tr>
		<% end %>
	</table>
</div>	
