<h1>
	<%= @user.name %>
	<small><%= @user.score %> Points</small>
</h1>

<h2>Solutions</h2>
<%= @solutions = @user.solutions; render 'solutions/solutions_table' %>


<h2>Problems</h2>
<%= @problems = @user.problems; render 'problems/problems_table' %>