h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.centered {
  text-align: center;
}
#topbar {
  background-color: #bbbbbb;
  height: 4em;
  margin-bottom: 1em;
}
footer {
  background-color: #bbbbbb;
  height: 10em;
  margin-top: 2em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#splash {
  height:14em;
  width:100%;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: -50;
  padding-right: -50;
  background: url('splash.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo-in-circle {
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px black solid;
  padding: 10px;
}
.smallcaps {
  font-variant: small-caps;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #bbb;
}

.solutionpre {
  background: #333;
}