<table class="table">
	<tr>
		<th>Description</th>
		<th>Points</th>
		<th>Problem</th>
	</tr>
	<% @solutions.each do |solution| %>
		<tr>
			<td><%= link_to solution.text.truncate(50, separator: '\n'), [solution.problem,solution] %></td>
			<td><%= solution.score %></td>
			<td><%= link_to solution.problem.title, solution.problem%></td></tr>

	<% end %>
</table>
