<h1><%= @solution.title %></h1>
<<<<<<< HEAD
<pre><code><%= @solution.text %></code></pre>
=======
<pre><code><%= @solution.text.html_safe %></code></pre>
>>>>>>> dbe09b676e23582be78c79eb0a2a1fafcab2515b
<script>hljs.initHighlightingOnLoad();</script>

