<div class='container'><h1><%= @solution.user.name %></h1>
<pre style='background-color:#333'><code><%= @solution.text %></code></pre>
<script type="text/javascript">	hljs.initHighlightingOnLoad()</script></div>
